body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}
#sidebar{
  overflow: hidden;
  float: left;
  width: 152px;
  background-color: #999999;
  text-align:left;
  padding:10px;
}
span.username {
  font-weight:bold;
  color: darkblue;
}
span.username:after {
  content:': ';
}
span.message{
  display:block;
  overflow: none;
  word-wrap:break-word;
  width:450px;
}
span.date{
  font-size:0.5em;
  float: right;
}
.inputName{
  width:20%;
  display: inline;
}
.roomname{
  list-style-type: none;
  font-size:.8em;
}
.roomname:hover{
  background-color:lightblue;
}
.macro{
  list-style-type: none;
  font-size:.8em;
}
.macro:hover{
  background-color:lightblue;
}
.inputContent{
  width: 80%;
}
#page{
  margin:auto;
  width: 1000px;
}
#sidebarRight{
  padding: 10px;
  background-color: #999999;
  width: 170px;
  margin-left: 5px;
  float:right;
}
#main {
    float:right;
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 20px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

